<ul class="demo-list-icon mdl-list">
    <li class="mdl-list__item">

    <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-icon">verified_user</i>
        <a href="admin/users">User accounts</a>
    </span>

    </li>
    <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-icon">local_pharmacy</i>
        <a href="admin/categories">categories</a>
    </span>
    </li>
    <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-icon">bug_report</i>
        <a href="admin/issues">Issue list</a>
      </span>
    </li>
</ul>