<link rel="stylesheet" href="{{ url_for('static', filename='fonts.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='icons.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='material.indigo-pink.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<title>Visualization</title>
<script src="{{ url_for('static', filename='js/extlib/d3.v3.js') }}"></script>
<script src="{{ url_for('static', filename='js/extlib/d3-queue.v3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/extlib/d3-array.v1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/extlib/URI.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/extlib/jscolor.min.js') }}"></script>


<script type="text/javascript" src="{{ url_for('static', filename='js/matrix/PatternMatrix.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/matrix/Row.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/matrix/Column.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/matrix/Cell.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/matrix/Render.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/matrix/ProcessData.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/matrix/Sorting.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/matrix/SubsetBox.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/matrix/Imputation.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/matrix/Filters.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/matrix/Rows.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/matrix/Columns.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/matrix/ExactPatterns.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/all.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/domChanger.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/ArrayAdditions.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/SetAdditions.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/Filters.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/ToolBox.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/HelpingHand.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/statistics/ShowStatistics.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/statistics/ReferenceLineDiagram.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/statistics/ReferenceBarChart.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/statistics/BaseLineChart.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/statistics/Collapsable.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/statistics/ElementsTable.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/icons.js') }}"></script>
<link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}"/>